.page-item.active .page-link,
.dropdown-item.active,
.dropdown-item:active {
    background-color: #6c757d;
    border-color: #dee2e6;
}

.page-link {
    color: #6c757d;
}

.state-error,
.required,
.error {
	color: #ff0000!important;
    font-size: 1rem!important;
    width: 100%!important;
    padding-top: 10px!important;
}

.datatable-header {
    display: flex;
    justify-content: space-between;
}

.datatable-header-titles {
    display: flex;
    align-items: center;
}
.pl-10 {
    padding-left: 10px;
}

.table-action {
    display: flex;justify-content: space-evenly;
}

.ml-5 {
    margin-left: 5px;
}

#tbl-cpl-documents-listing_wrapper > .dt-buttons, 
#tbl-grant-documents-listing_wrapper > .dt-buttons, 
#tbl-tax-documents-listing_wrapper > .dt-buttons, 
#tbl-curative-documents-listing_wrapper > .dt-buttons,
#tbl-file-documents-listing_wrapper > .dt-buttons,
#tbl-lv-documents-listing_wrapper > .dt-buttons {
    display: none;
}