.entry-content p {
    font-size: 14px;
}

.entry-content strong, 
.entry-content b {
    font-weight: 700;
}

br {
    line-height: 12px;
}
.bg-border {
    border-radius: 5px;
}
.ml-50 {
    margin-left: 50px;
}
.p-6 {
    padding: 6px;
}