
        <div class="container">
          <div class="content-wrapper">
            <section id="content">
              <?php include "ext-menu.php";?>
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Career At MyReposit</li>
              </ol>
              <div class="clearfix"></div>
              <div class="panel panel-default flat">
                <div class="panel-body">
                  <div class="col-xs-12 col-sm-6">
                    <h3 class="text-uppercase panel-title">Current Openings</h3>
                    <hr>
                    <ul class="listing jobsheet">
                      <li><h4><a href="career_my_reposit_inner.html">Software Engineer--Front-End/UX</a></h4>
                      <strong>Location: </strong>Durham, NC
                    <strong>Department: </strong>Engineering</li>
                    <li><h4><a href="career_my_reposit_inner.html">Motion Graphics Designer</a></h4>
                  <strong>Location: </strong>United States</li>
                  
                  <li><h4><a href="career_my_reposit_inner.html">Quality Control Editor</a></h4>
                <strong>Department: </strong>Editing</li>
                
                <li><h4><a href="career_my_reposit_inner.html">Software Engineer--PHP</a></h4>
                <strong>Location: </strong>Durham, NC
              <strong>Department: </strong>Engineering</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-5">
            <h4><b>Thanks for visiting the MyReposit Job Board.</b></h4>
            <p>Please review our open positions and apply to the position(s) that match your qualifications, strengths, and interests. If you don't see a position that matches your interests and would like to share your resume, please do so <a href="#">here</a></p>
          </div>
        </div>
      </div>
    </section>