
				<div class="container">
					<div class="content-wrapper">
						<section id="content">
							<div id="ext-menu">
								<div class="row">
									<div class="clearfix text-uppercase top-mega-menu text-center">
										<div class="col-md-3 col-sm-6"><a href="create-my-profile.html"><i class="icon-desktop"></i>Create my profile</a></div>
										<div class="col-md-3 col-sm-6"><a href="upload.html"><i class="icon-upload-alt"></i>Upload</a></div>
										<div class="col-md-3 col-sm-6"><a href="dash_board.html"><i class="icon-user"></i>My profile</a></div>
										<div class="col-md-3 col-sm-6"><a href="all_profiles.html"><i class="icon-group"></i>All profile</a></div>
									</div>
								</div>
							</div>
							<ol class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li class="active">Deposit &amp; Manage</li>
							</ol>
							<div class="clearfix"></div>
							<div class="panel panel-default flat">
								<div class="panel-body">
									<ul class="nav">
										<li>Journal articles</li>
										<li>Books chapters</li>
										<li>Working Papers</li>
										<li>Conference proceedings</li>
										<li>Non-textual Media</li>
										<li>Theses and Dissertations</li>
										<li>Images, Illustrations, Slides</li>
										<li>Data sets, Progress reports, Views &amp; Reviews</li>
									</ul>
									<div class="clearfix">
										
									</div>
									<p>&nbsp;</p>
									<h4>Deposit &amp; Manage Content</h4>
									<p>MyReposit is a subject repository that offers open access, scholarly publishing services and various tools that can help researchers connect better and communicate faster. MyReposit increase the visibility and impact of your academic work as well helps you connect and collaborate with colleagues, peers and specialists in your field.</p>
									<h5><b><i>Connect, Communicate, Collaborate with MyReposit</i></b></h5>
									<ul>
										<li>Make your publications visible. Engage the academic community sooner. Track usage and watch your citation rates grow.</li>
										<li>Let your academic work be easily found beyond restricted research channels. Reach new readers beyond your discipline. Connect to a broader audience worldwide.</li>
										<li>Post  manuscripts  of publications,  conference  abstracts,  images,  illustrations,  slides, specimens, and progress reports.</li>
										<li>Get Published faster – Access Manuscript preparation and Independent Peer Review services.</li>
										<li>Publicize yourself with MyReposit Promotional, Publicity, and Professional Review &amp; Event Marketing Services.</li>
										<li>Create your Print and eBooks with MyReposit online print-on-demand, self-publishing and distribution services to. Publish with and sell on MyReposit. Retain full control over copyright and publication layout.</li>
										<li>Increase the visibility and impact of your conference. Manage and display conference materials, schedules, call for papers and proceedings volumes from your dedicated webpage.</li>
										<li>Post audio and video content. Write for the Media. Access MyReposit Press release services for significant findings.</li>
										<li>Move beyond text and figures. Upload your Podcast describing your research. Access specialized social media publicity<br>Partner with MyReposit to organize seminars/conferences to discuss the research. Develop and sell customized event-related Newsletters, Audio-visual content. Earn royalties. Retain copyright.</li>
										<li>Get permanent online identifiers to ensure permanent access to and long-term preservation of your academic work</li>
									</ul>
									<div class="clearfix">
										
									</div>
								</div>
							</div>
						</section>
						