.label {
	width: 33.3%;
	height: 1in;
	float: left;
	line-height: 1.8;
	font-size: 13px;
}

.label span {
	width: 33.3%;
	display: table-footer-group;
}

@media print {
	@page {
		size: portrait;
		margin: 0.42in 0.22in 0.42in 0.22in ;
	}
}

tr {
	width: 100%;
	margin: 0;
}

td {
	font-size: 13px;
	/*font-family: sans-serif;*/
	width: 2.57in;
	height: 0.99in;
	margin: 0;
	vertical-align: top;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding: 0.05in;
	line-height: 1.6;
	border: 0.1px solid black;
	overflow: hidden;
}

td.separator {
	width: 0.16in;
	border: none;
}

* { font-family: sans-serif; }

td h1, td h2, td p { font-size: 12px; }