@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
html, body { height: 100%; }
*, html { outline: none; }
html, hmtl a { width: 100%; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { background: url(../images/body-bg.png) no-repeat 0 0; background-size: cover; background-attachment: fixed; color: #656565; font-weight: 400; font-size: 12px; font-family: 'Roboto', sans-serif; }
a { color: #006c9d; text-decoration: none; cursor: pointer; -webkit-transition: color 0.2s linear 0s; -moz-transition: color 0.2s linear 0s; -o-transition: color 0.2s linear 0s; transition: color 0.3s linear 0s; }
a:hover, a:active, a:focus { outline: 0; text-decoration: none; }
a img { border: none; }
a > img { vertical-align: bottom; }
img { max-width: none; }
.logo { font-weight: 900; color: #006c9d; }
.logo span { color: #777; }
#header { padding-top: 20px; }
.navbar { min-height: 80px; }
.top-bar { display: inline-table; margin-top: 15px; text-align: right; white-space: nowrap; }

/*.top-bar form .input-group{margin-right:20px;}*/
.top-bar form, .top-bar .site-links { display: table-cell; vertical-align: middle; }
.top-bar .site-links .btn { margin-left: 10px; }
.top-bar .site-links .btn i { margin-right: 5px; }
.top-bar .form-control { height: 28px; font-size: 12px; box-shadow: inset 0 0 2px 0 #c0c0c0; }
.form-control:focus { box-shadow: inset 0 0 2px 0 #c0c0c0; border-color: #c0c0c0; }
.input-group .form-control { }
.tooltip { position: absolute; z-index: 1070; display: block; font-size: 13px; font-weight: 400; line-height: 1.2; text-align: left; filter: alpha(opacity=0); opacity: 0; }
.tooltip-inner { max-width: 400px; padding: 10px; color: #fff; text-align: center; text-decoration: none; background: #4070a2; /* Old browsers */ background: -moz-linear-gradient(top, #4070a2 0%, #5497de 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4070a2), color-stop(100%, #5497de)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #4070a2 0%, #5497de 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #4070a2 0%, #5497de 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #4070a2 0%, #5497de 100%); /* IE10+ */ background: linear-gradient(to bottom, #4070a2 0%, #5497de 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4070a2', endColorstr='#5497de', GradientType=0); /* IE6-9 */ border-radius: 0px; border: 1px solid #ccc; box-shadow: 2px 2px 2px #ccc; }
.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-width: 5px 5px 0; border-top-color: #5497de; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #5497de; }
.tooltip.right .tooltip-arrow { border-right-color: #5497de; }
.tooltip.left .tooltip-arrow { border-left-color: #5497de; }
.login-form .btn { font-size: 12px; border-color: #ccc; border-radius: 0; padding: 8px 15px; }
.login-form .btn { font-size: 15px; /*	padding:5px 10px 4px; */ -webkit-transition: color 0.2s linear 0s; -moz-transition: color 0.2s linear 0s; -o-transition: color 0.2s linear 0s; transition: color 0.2s linear 0s; }
.btn-default { color: #5b5b5b; box-shadow: inset 0 0 2px 0 #c0c0c0; }
a.btn i { color: #000; }
#header .nav > li > a { border-right: 1px solid #5a5a5a; box-shadow: 1px 0 0 0 #a8a8a8; color: #5a5a5a; font-size: 14px; padding: 0 10px; }
#header .nav>li:last-child>a { padding-right: 0; border-right: 0; box-shadow: none; }
#header .navbar-nav>li>a { line-height: 16px; }
#header .nav>li>a:focus, #header .nav>li>a:hover, #header .nav>li>a.active, #header .nav>li.active>a { background-color: transparent; color: #006c9d; }
#header .navbar-collapse { padding-top: 15px; }
.navbar-brand { height: auto; }
.btn-mr { background-color: #b1c935; color: #fff; border-color: #839823; box-shadow: inset 0 0 2px 0 #839823; }
.btn-mr:hover, .btn-mr:focus { color: #fff; background-color: #b1c935; border-color: #839823; border-left: 0; }
a.btn-default:hover i { color: #000; }
#ext-menu { margin-bottom: 10px; }
#ext-menu a { background: #006c9d; color: #fff; display: block; padding: 5px; font-size: 13px; margin-bottom: 5px; }
#ext-menu a i { margin-right: 5px; }
#ext-menu a:hover, #ext-menu a.active { background: #777; }
.content-wrapper { display: table; table-layout: fixed; border-spacing: 0; width: 100%; height: 100%; }
#content, aside { display: table-cell; vertical-align: top; width: 100%; height: 100%; }
.aside-sm { width: 175px; padding-left: 15px; }
#aside-menu { font-size: 11px; text-transform: uppercase; }
#aside-menu .panel-default { border: 0; box-shadow: inset 0 0 5px 0 #dbe4af; background: #e9f0c5; }
#aside-menu .panel+.panel { margin-top: 2px; }
#aside-menu .panel-default .panel-body { padding: 10px 15px; }
#aside-menu .panel-default>.panel-heading { color: #fff; border: 1px solid #b1c935; border-radius: 3px; padding: 5px; background: #b1c935; }
#aside-menu .panel-primary>.panel-heading { color: #fff; border: 1px solid #4e6486; border-radius: 3px; padding: 5px; background: #5f79a3; }
#aside-menu .panel-default>.panel-heading .panel-title { font-size: 13px; text-align: center; }
#aside-menu .panel-primary > .panel-heading .panel-title { font-size: 13px; text-align: center; }
#aside-menu ul, #aside-menu ul li { margin: 0; padding: 0; list-style: none; }
#aside-menu ul li a { color: #585858; text-decoration: none; }
#aside-menu ul li a:hover, #aside-menu ul li a:focus { color: #f0a12b; }
.guidelink { color: #575757; display: block; line-height: 25px; margin-bottom: 15px; font-size: 13px; vertical-align: middle; text-align: right; }
.guidelink i { font-size: 22px; position: relative; top: 3px; color: #df3417; }
.guidelink:hover { color: #006c9d }
#banner { text-align: center; height: 277px; margin-bottom: 10px; overflow: hidden; box-shadow: -1px 0px 5px 2px #e9e9e9; background: #ebf3f7; /* Old browsers */ background: -moz-linear-gradient(-45deg, #ebf3f7 0%, #519bbc 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ebf3f7), color-stop(100%, #519bbc)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(-45deg, #ebf3f7 0%, #519bbc 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(-45deg, #ebf3f7 0%, #519bbc 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(-45deg, #ebf3f7 0%, #519bbc 100%); /* IE10+ */ background: linear-gradient(135deg, #ebf3f7 0%, #519bbc 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf3f7', endColorstr='#519bbc', GradientType=1); /* IE6-9 fallback on horizontal gradient */ }
#banner img { min-height: 100%; }
#bottom-topblock .panel { border: 0 none; border-radius: 0; color: #656565; font-size: 11px; margin-bottom: 0; position: relative; }
#bottom-topblock .view-more { font-size: 18px; color: #fff; background: #bababa; width: 18px; height: 18px; position: absolute; bottom: 10px; left: 15px; display: block; border-radius: 100%; border: 2px solid #bababa; }
#bottom-topblock .view-more i { position: relative; top: -2px; right: 0; display: block; width: 16px; height: 16px; }
#bottom-topblock .view-more:hover { background: #b1c935; border-color: #b1c935; }
#bottom-topblock .panel:before, #bottom-topblock .panel:after { z-index: -1; background: #c0c0c0; position: absolute; content: ""; width: 100%; height: 5%; right: 0; bottom: 3px; -webkit-box-shadow: 3px 5px 5px -1px #c0c0c0; -moz-box-shadow: 3px 5px 5px -1px #c0c0c0; box-shadow: 3px 5px 5px -1px #c0c0c0; -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -o-transform: rotate(2deg); -ms-transform: rotate(2deg); transform: rotate(2deg); }
#bottom-topblock .panel:after { right: 4px; bottom: 2px; width: 5%; height: 98%; -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg); -o-transform: rotate(-2deg); -ms-transform: rotate(-2deg); transform: rotate(-2deg); }
#bottom-topblock .panel .panel-shadow { min-height: 241px; }
#bottom-topblock .panel .panel-shadow:before, #bottom-topblock .panel .panel-shadow:after { z-index: -1; position: absolute; content: ""; width: 100%; height: 5%; left: 0; top: 4px; -webkit-box-shadow: -4px -5px 3px -1px #ececec; -moz-box-shadow: -4px -5px 3px -1px #ececec; box-shadow: -4px -5px 3px -1px #ececec; -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -o-transform: rotate(2deg); -ms-transform: rotate(2deg); transform: rotate(2deg); }
#bottom-topblock .panel .panel-shadow:after { left: 4px; top: 2px; width: 5%; height: 100%; -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg); -o-transform: rotate(-2deg); -ms-transform: rotate(-2deg); transform: rotate(-2deg); }
#bottom-topblock .panel .panel-heading { font-weight: 900; line-height: 15px; font-size: 15px; padding: 15px 15px 0; color: #777; }
#bottom-topblock .panel .panel-heading img { margin-bottom: 10px; }
#bottom-topblock .panel .panel-body { padding: 10px 15px 36px; }
#get-started { margin-bottom: 15px; }
#get-started h3 { color: #006c9d; font-size: 22px; font-weight: 900; margin: 10px 0; }
.gs-list { display: table; width: 100%; }
.gs-list, .gs-list.gs-list li { margin: 0; padding: 0; list-style: none; }
.gs-list li { position: relative; display: table-cell; vertical-align: middle; }
.gs-list li:last-child { width: 125px; text-align: center; }
.gs-list li a { display: block; padding: 7px; border-radius: 10px; margin-right: 15px; margin-left: 12px; box-shadow: 0px 0px 5px 1px #eee; -moz-box-shadow: 0px 0px 5px 1px #eee; -webkit-box-shadow: 0px 0px 5px 1px #eee; }
.gs-list li .gs-item-wrapper { display: block; text-align: right; padding-right: 20px; min-height: 100px; border-radius: 5px; border: 1px solid #f1f1f1; box-shadow: inset -5px 5px 10px 0px #eee; -moz-box-shadow: inset -5px 5px 10px 0px #eee; -webkit-box-shadow: inset -5px 5px 10px 0px #eee; }
.gs-list li .gs-icon { width: 80px; height: 80px; padding: 7.5px; left: 0; top: 17px; display: block; position: absolute; border-radius: 100%; background: #c6c7c3; /* Old browsers */ background: -moz-linear-gradient(45deg, #c6c7c3 0%, #f9f9f9 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #c6c7c3), color-stop(100%, #f9f9f9)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(45deg, #c6c7c3 0%, #f9f9f9 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(45deg, #c6c7c3 0%, #f9f9f9 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(45deg, #c6c7c3 0%, #f9f9f9 100%); /* IE10+ */ background: linear-gradient(45deg, #c6c7c3 0%, #f9f9f9 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c7c3', endColorstr='#f9f9f9', GradientType=1); /* IE6-9 fallback on horizontal gradient */ }
.gs-list li .gs-bg { width: 65px; height: 65px; padding: 12.5px; display: block; border-radius: 100%; background: #9db71c; /* Old browsers */ background: -moz-linear-gradient(-45deg, #9db71c 0%, #b8d03f 50%, #9db71c 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #9db71c), color-stop(50%, #b8d03f), color-stop(100%, #9db71c)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(-45deg, #9db71c 0%, #b8d03f 50%, #9db71c 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(-45deg, #9db71c 0%, #b8d03f 50%, #9db71c 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(-45deg, #9db71c 0%, #b8d03f 50%, #9db71c 100%); /* IE10+ */ background: linear-gradient(135deg, #9db71c 0%, #b8d03f 50%, #9db71c 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9db71c', endColorstr='#9db71c', GradientType=1); /* IE6-9 fallback on horizontal gradient */ }
.gs-list li .gs-title { display: block; font-size: 15px; color: #626262; line-height: 16px; padding: 33px 0; }
.gs-list li .gs-title b { font-size: 15px; font-weight: 700; color: #006c9d; display: block; }
.gs-list li:last-child a { box-shadow: none; font-size: 25px; line-height: 27px; color: #626262; }
.gs-list li:last-child a b { color: #006c9d; display: block; font-size: 35px; text-align: left; }
.gs-list li:nth-child(1) { padding-left: 22px; width: 240px; }
.gs-list li:nth-child(2) { padding-left: 20px; width: 240px; }
.gs-list li:nth-child(3) { padding-left: 23px; width: 240px; }
.panel-white { border: 0; box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, .41); -moz-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, .41); -webkit-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, .41); }
.panel-white .panel-heading { color: #777; font-size: 18px; font-weight: 900; }
#get-noticed .panel-body, #widget .panel-body { padding: 0; }
#widget { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
#widget iframe { max-width: 100% !important; min-width: 100% !important; height: 218px; }
#get-noticed .panel-body p { line-height: 1.25; margin: 0; padding: 10px; }
footer { background: #000; color: #fff; }
footer .logo { color: #01affe; }
footer .logo span { color: #fff; }
footer a { color: #fff; }
footer a:hover { color: #01affe; }
.footer-top { font-size: 14px; padding: 5px; background: #777; }
.footer-middle { line-height: 26px; padding: 10px 0; border-bottom: 1px solid #4d4d4d; }
.footer-middle a { font-size: 18px; padding-right: 30px; }
.footer-bottom { font-size: 10px; padding: 15px 0; }
@media (min-width:769px) {
	.pro-nav { padding-right: 5px !important; }
	.pro-content { padding-left: 5px !important; }
	.top-mega-menu div:first-child { padding-left: 10px; }
	.top-mega-menu div:last-child { padding-right: 10px; }
	.form-fixed label { font-weight: normal; text-align: left !important; text-transform: uppercase; padding-left: 0; text-indent: -6px; }
}
@media screen and (max-width:640px) {
	.nav-space > li { display: block; float: none !important; margin: 10px 0; position: relative; }
}
@media screen (max-width:768px) {
	.form-fixed label { font-weight: normal; text-align: left !important; text-transform: uppercase; padding-left: 10px !important; text-indent: 0 !important; }
	#header .nav > li > a { background: rgba(24, 175, 254, 0.2) none repeat scroll 0 0 !important; border-right: 1px solid #5a5a5a; box-shadow: 1px 0 0 0 #a8a8a8; color: #555; font-size: 14px; margin-bottom: 2px; padding: 6px 10px !important; }
	.top-bar { width: 100%; padding: 0; }
	#bottom-topblock .panel .panel-shadow { min-height: 166px; text-align: center; }
	#bottom-topblock .panel .panel-heading img { margin: 0 auto 10px; }
}
@media (min-width:992px) {
	.sidebar-flat { min-height: 804px; }
	#bottom-topblock .col-xs-2, #bottom-topblock .col-sm-2, #bottom-topblock .col-md-2, #bottom-topblock .col-lg-2 { padding: 10px; width: 20%; }
	#bottom-topblock .col-xs-2:first-child, #bottom-topblock .col-sm-2:first-child, #bottom-topblock .col-md-2:first-child, #bottom-topblock .col-lg-2:first-child { padding-left: 15px; }
	#bottom-topblock .col-xs-2:last-child, #bottom-topblock .col-sm-2:last-child, #bottom-topblock .col-md-2:last-child, #bottom-topblock .col-lg-2:last-child { padding-right: 15px; }
	#bottom-topblock .panel .panel-shadow { min-height: 286px; }
}
@media (max-width:992px) {
	#bottom-topblock .panel .panel-shadow { min-height: 166px; text-align: center; }
	#bottom-topblock .panel .panel-heading img { margin: 0 auto 10px; }
}
@media (max-width:1199px) {
	.top-bar { width: 100%; padding: 0; }
}
@media (min-width:1200px) {
	.container { width: 1000px; }
}
.top-mega-menu div { padding: 0 5px; }
.navbar-collapse { padding-left: 15px; padding-right: 0px; }
.top-bar .btn { border-radius: 4px; margin-left: 10px; font-size: 12px; padding: 5px 10px 4px; }
.btn.btn-mr { border-left: 1px none; margin-left: -1px; width: 40px; z-index: 2; }
.top-bar .form-control { border-radius: 4px 0 0 4px; }
#aside-menu.panel-group .panel-body { padding: 7px 15px; }
#get-noticed { margin-top: 20px; }
#get-noticed img { display: block; margin: 0 auto; width: 100%; }
#get-noticed .panel-heading { padding: 7px 13px; }
.right.c { background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0; color: #fff; font-weight: lighter; padding: 0px 2px; position: absolute; opacity: 0.5; right: 6px; top: 60px; }
.left.c { background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0; color: #fff; font-weight: lighter; padding: 0px 2px; opacity: 0.5; position: absolute; right: 30px; top: 60px; }
.right.c:hover, .left.c:hover { opacity: 1; }
.row { margin-left: -10px; margin-right: -10px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { min-height: 1px; padding-left: 10px; padding-right: 10px; position: relative; }
.flat { border: 2px solid #e9f0c5; border-radius: 0; box-shadow: none; }
.bg-gray {
  background: #efefef none repeat scroll 0 0;
  color: #333;
  line-height: 1.22;
  min-height: 368px;
}hr { margin-bottom: 10px; margin-top: 10px; border-color: #ccc; }
.flat h4 { font-size: 16px;margin: 0; }
.breadcrumb > li + li::before { color: #ccc; content: "> "; padding: 0 5px; }
.breadcrumb { border-radius: 0; list-style: outside none none; margin-bottom: 0; background: none; padding: 0 0 10px; }
.form-horizontal .form-group { margin-left: 0px; margin-right: 0px; }
.form-control { background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 0; box-shadow: none; color: #555; display: block; font-size: 14px; height: 34px; line-height: 1.42857; padding: 6px 1px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.l-btn .btn { border-color: #ccc; border-radius: 0; font-size: 16px !important; padding: 6px 45px; }
.or { background: #fff none repeat scroll 0 0; margin: -21px auto 0; text-transform: uppercase; width: 34px; text-align: center; }
.s-icon { border-right: 1px solid #ccc; display: inline-block; margin: -8px 10px -7px -14px; padding: 4px; }
.login-form label { font-size: 14px; font-weight: 100; color: #333; }
.btn-social { color: #333; vertical-align: middle; }
.btn-primary { background-color: #5f79a3; border-color: #ccc; color: #fff; border-radius: 0; }
.btn-success { background-color: #5fa36f; border-color: #4cae4c; color: #fff; border-radius: 0; }
.sidebar-spacing { height: 28px; }
.match-height { min-height: 911px; }
.btn-group-sm > .btn, .btn-sm { border-radius: 3px !important; font-size: 12px !important; line-height: 1.5 !important; padding: 5px 10px !important; }
label a i { background: #b1c935; border: none; margin-left: 5px; border-radius: 100%; color: #fff; display: inline-block; font-size: 11px; padding: 2px 7px; }

/*collaps code*/
.col-cont { clear: both; display: table; width: 100%; margin-bottom: 20px; font-size: 13px; }
.col-head { clear: both; }
.col-title { font-size: 15px; margin: 0; padding: 0; }
.col-title a { color: #006c9d; }
.col-title a i { font-weight: lighter; margin-right: 10px; }
.col-cont .col-body { margin: 10px 0; padding-left: 25px; }
.panel ol li { font-weight: lighter; margin-bottom: 10px; padding-left: 15px; }
.panel ol li { font-weight: lighter; margin-bottom: 10px; padding-left: 15px; }
.panel ol li { font-weight: lighter; margin-bottom: 10px; padding-left: 15px; }
.panel ol li ol { margin-top: 10px; }
.panel ol { list-style-type: lower-alpha; padding: 0 12px; }
.footer-top a { margin: 0 10px; }
.navbar { border: 1px solid transparent; margin-bottom: 10px; min-height: 50px; position: relative; }
.sidebar-nav li a { color: #555; padding: 0; }
.footer-bottom .container { text-align: justify; }
.sidebar-body { padding: 5px 0 0 20px; }
.sidebar-cont { margin-bottom: 10px; }
article .thumbnail { background-color: #ededed; border: 1px solid #c9c9c9; border-radius: 0; display: inline-block; line-height: 1.42857; margin: 0 12px -1px auto; padding: 8px 13px; text-align: center; transition: border 0.2s ease-in-out 0s; vertical-align: baseline; }
.article-nav { font-size: 12px; line-height: 1.3; list-style: outside none none; margin: 0; padding: 0; }
.article-nav a { color: #8d8d8d; font-size: 11px; line-height: 1.4; }
.clearfix.hr { border-bottom: 1px solid #ccc; }
.article-title-main { display: block; font-weight: 600; padding-top: 15px; }
.article-line { border-right: 1px solid #ccc; padding: 10px; }
.article-line-links { padding: 8px 10px; }
.article-down-links { color: #999; font-size: 11px; margin-bottom: -5px; margin-top: 8px; }
.article-down-links a:first-child { margin-left: 0; }
.article-down-links a { color: #8d8d8d; margin-left: 5px; margin-right: 5px; }
.article-line { border-right: 1px solid #ccc; min-height: 141px; padding: 10px; font-size: 11px; }
.article-line p { margin-bottom: 5px; }
.article-list { margin-bottom: 15px; }
.article-container { max-height: 800px; overflow-y: scroll; }
.article-container-inner { max-height: 838px; overflow-y: scroll; }
.btn-social { font-size: 12px !important; }
.contact-form .col-sm-9::after { content: "*"; position: absolute; right: 0; top: 10px; }
select.form-control { background-image: url("../images/dd-icon.png"); background-position: 98% 6px; background-repeat: no-repeat; appearance: none; -webkit-appearance: none; -moz-appearance: none; }

/* css by nitin */
.my-account-sidebar { margin: 0px; }
.sideBarHeading { background-color: #5f79a3; margin: -2px -2px 0; padding: 2px 0 0 15px; border-bottom: 4px solid #b1c935; font-size: 18px; color: #fff; font-weight: normal; text-transform: uppercase; }
.sideBarHeading h4 { font-size: 14px; }
.sideBarHeading small { color: #fff; }
.sidebar-nav .navbar-nav { margin: 0 !important; }
.affix-sidebar { padding-right: 0; font-size: small; padding-left: 0; }
.sidebar-nav .navbar .navbar-collapse { padding: 0; max-height: none; }
.sidebar-nav .navbar { border-radius: 0; margin-bottom: 0; border: 0; }
.sidebar-nav .navbar ul { float: none; display: block; }
.sidebar-nav .navbar li { float: none; display: block; }
.sidebar-nav .navbar li a { border-bottom: 1px solid #ddd; font-size: 12px !important; color: #0066b3; cursor: pointer; background: none; padding: 5px 10px; }
.sidebar-nav .navbar li a:hover, .sidebar-nav .navbar li a.active { background-color: #5f79a3; color: white; }
.sidebar-nav .navbar li a > .caret { margin-top: 8px; }
.sidebar-nav .navbar-default { background: #fafafa; border: none; }
.sidebar-nav .navbar-default .navbar-nav > li > a { border-right: none; padding: 5px 10px; font-weight: normal; }
.sidebar-nav .navbar .navbar-collapse { padding: 0; max-height: none; }
.sidebar-nav .navbar { border-radius: 0; margin-bottom: 0; border: 0; }
.sidebar-navbar-collapse li a i { margin-right: 10px; border-right: 1px solid #ccc; padding: 6px; width: 28px; display: inline-block; }
.banner-main { background-image: url("../images/banner-img.png"); height: 277px; width: 100%; }
.brand-img { color: #555; font-size: 17px; font-weight: lighter; margin-right: 20px; margin-top: 180px; text-align: left; }
.carousel-fade { .carousel-inner { .item { opacity: 0; transition-property: opacity; }
		.active { opacity: 1; }
		.active.left, .active.right { left: 0; opacity: 0; z-index: 1; }
		.next.left, .prev.right { opacity: 1; }
	}
	.carousel-control { z-index: 2; }
}
.contact-form .star::after { color: red; content: "*"; position: absolute; right: -10px; top: 35px; }
.contact-form .form-group { position: relative; }
.top-bar .input-group { padding-right: 5px; }
.min-height .well { min-height: 520px; box-shadow: none; position: relative; border: none; }
.well-flat { box-shadow: none; border: none; background-color: #D9EDF7; }
ol, ul { margin-top: 0; margin-bottom: 10px; padding: 0 0px 0px 15px; }
.setbox { position: absolute; bottom: 10px; width: 92%; display: block; }
.jobsheet li { padding: 10px 0; border-bottom: 1px dotted #ccc; margin-bottom: 10px; }
.jobsheet { list-style: none; }
.no-margin { margin: 0; }
.nav-space li { margin-right: 20px; }
.nav-space li:last-child { margin-right: 0; }
.cat-nav li a i { padding: 0; }
.carousel-fade .carousel-inner .item { opacity: 0; -webkit-transition-property: opacity; transition-property: opacity; }
.carousel-fade .carousel-inner .active { opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }
.carousel, .carousel-inner, .carousel-inner .item { height: 100%; }

.nav.nav-tabs li.active a
{
	background-color: #5f79a3 !important;
    border-color: #ccc;
    border-radius: 0;
    color: #fff;
}

li.active span.badge
{
	background-color: #fff;
	color: #000;
}

.inup
{
    border-bottom: 0px !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px !important; 
    border-top-left-radius: 5px !important;
}
.indwn
{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.lgn
{
	border-radius: 5px !important;
}

.user-btn {
  min-width: 134px;
  text-align: left;
}

.site-user {
  margin-left: 6px;
}


.table-mix thead {
  border-bottom: 1px solid #777;
  border-top: 1px solid #777;
  font-weight: bold;
}
.table-mix tr td {
  border: medium none !important;
}
.table-top table tr td {
  padding: 5px 5px 10px;
}
.btn-green {
  background: #b1c935 none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;

    transition:all ease-in-out .25s;
     -webkit-transition:all ease-in-out .25s;
      -webkit-transition:all ease-in-out .25s;


}
.btn-green:hover{background: green; color: #fff;} 

.table-mix thead {
  border-bottom: 1px solid #777;
  border-top: 1px solid #777;
  font-weight: bold;
}
.table-mix tr td {
  border: medium none !important;
}
.pub-form .panel-heading {
  background: #006c9d none repeat scroll 0 0;
  border-radius: 2px;
  font-weight: normal;
  margin: 10px 0;
  padding: 6px 15px;
  text-transform: uppercase;
}
.pub-form label {
  color: #656565;
  font-size: 12px;
}
.pub-form .form-control{

	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */


box-shadow: 0 0 1px #ccc;
}
.submit-flat {
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 20px 0;
  padding: 5px 40px;
}
.user-nav li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10.5px;
  padding-bottom: 11px;
}
.user-nav li .well {
  background: #eee none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
}
.cat-nav1 {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.cat-nav1 li a {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 8px 10px;
}
.cat-nav1 i {
  display: none;
}
.cat-nav1 li a {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 7.6px 10px;
}.cat-nav1 li:last-child a{border: none;}
.cat-nav1 li a:hover{background: 
#b1c935; color: #fff;}

.main-article-text1.title-line {
  margin-bottom: 0;
  margin-top: 8px;
}

.main-title {
  margin-top: 2px;
}

.rating-input {
  /*float: right;*/
  color: #449D44;
}

.rating-input span:first-child {
  display: none;
}

.nav-star li a{
	padding: 0px;
	margin: 0px;
}

.nav-star{
	padding: 0px;
}