<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Rate Calculator Report | Pacific Coast Title Company</title>
    <meta name="Description" content="Pacific Coast Title Company Specializes in Residential & Commercial Title Insurance. We take pride in the success of our clients.">
    <!-- ////////////////////////////////// -->
    <!-- //     Retina Bookmark Icon     // -->
    <!-- ////////////////////////////////// -->
    <link rel="apple-touch-icon-precomposed" href="apple-icon.png" />
    <!-- ////////////////////////////////// -->
    <!-- //     Retina Bookmark Icon     // -->
    <!-- ////////////////////////////////// -->
    <link rel="apple-touch-icon-precomposed" href="apple-icon.png" />
    <!-- ////////////////////////////////// -->
    <!-- //      Stylesheets Files       // -->
    <!-- ////////////////////////////////// -->
    <link rel="stylesheet" href="files/css/style.css" />
    <link rel="stylesheet" href="files/css/media.css" />
    <link rel="stylesheet" href="files/css/noscript.css" media="screen,all" id="noscript" />
    <!-- ////////////////////////////////// -->
    <!-- //     Google Webfont Files     // -->
    <!-- ////////////////////////////////// -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico" />
    <!-- ////////////////////////////////// -->
    <!-- //        Favicon Files         // -->
    <!-- ////////////////////////////////// -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- ////////////////////////////////// -->
    <!-- //      Javascript Files        // -->
    <!-- ////////////////////////////////// -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
    <script src="files/js/jquery.js"></script>
    <script src="files/js/jquery.easing-1.3.min.js"></script>
    <script src="files/js/modernizr.js"></script>
    <script src="files/js/jquery.retina.js"></script>
    <script src="files/js/jquery.validate.min.js"></script>
    <!-- ////////////////////////////////// -->
    <!-- //     Login Form    // -->
    <!-- ////////////////////////////////// -->
    <meta name="robots" content="noindex, nofollow" />
    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <link rel="stylesheet" href="files/lar/css/style.css" media="screen" type="text/css" />
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="files/js/jquery-2.1.4.min.js">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- forms hide/show script -->
    <script>
        $(document).ready(function(){

            $("div.signin-form").hide();
            $("div.forget-form").hide();

            $("#open-signin-form").click(function(){
                $("div.signin-form").show();
                $("div.signup-form").hide();
                $("div.forget-form").hide();
            });
            $("#open-signup-form").click(function(){
                $("div.signup-form").show();
                $("div.forget-form").hide();
                $("div.signin-form").hide();
            });

            $("#open-signin").click(function(){
                $("div.signin-form").show();
                $("div.signup-form").hide();
                $("div.forget-form").hide();
            });
            $("#open-signup").click(function(){
                $("div.signup-form").show();
                $("div.forget-form").hide();
                $("div.signin-form").hide();
            });
            $("#forget-pass").click(function(){
                $("div.forget-form").show();
                $("div.signin-form").hide();
                $("div.signup-form").hide();
            });
            
        });
    </script>
</head>

<body>
    <!-- header start here -->
    <header>
        <!-- top info start here -->
        <div id="top-info">
            <div class="row">
                <div class="twelve column">
                    <!-- logo start here -->
                    <div id="logo">
                        <a href=""><img src="files/images/logo.png" alt="main-logo" class="retina" /></a>
                    </div>
                    <!-- logo end here -->
                    <div id="top-socials">
                        <ul>
                            <li class="facebook-color"><a target="_blank" href="https://www.facebook.com/PacificCoastTitleCompany"><i class="social-facebook"></i></a></li>
                            <li class="twitter-color"><a target="_blank" href="https://twitter.com/mypct"><i class="social-twitter"></i></a></li>
                            <li class="googleplus-color"><a target="_blank" href="https://www.google.com/+Pacificcoasttitle"><i class="social-googleplus"></i></a></li>
                            <li class="linkedin-color"><a target="_blank" href="https://www.linkedin.com/company/pacific-coast-title-company"><i class="social-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end here -->
    <!-- pagetitle start here -->
    <section id="pagetitle-container">
        <div class="row">
            <div class="twelve column">
                <h1>Admin Dashboard</h1>
                <!-- <h3>Helping to Calculate Your Fees</h3> -->
            </div>
            <div class="twelve column breadcrumb">
                <ul>
                    <li><a href="">Home</a></li>
                    <li class="current-page"><a href="javascript:;">Admin Dashboard</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- pagetitle end here -->
    <!-- bottom content start here -->
    <section id="content-wrapper">
        <div class="row">
            <h2>User Management</h2>
            <hr>
            <div class="twelve">
               <div class="table-responsive">
                   <table class="table table-hover user-table" style="min-width: 100% !important;">
                       <thead>
                           <tr>
                               <th>First Name</th>
                               <th>Last Name</th>
                               <th>Email Id</th>
                               <th>Membership</th>
                               <th>Action</th>
                           </tr>
                       </thead>
                   </table>
                   <div class="user-table-wrapper">
                       <table class="table table-hover" style="min-width: 100% !important;">
                           <tbody>
                           <tr>
                               <td>Ramesh</td>
                               <td>Chowdhary</td>
                               <td>ramesh.chowdhary@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Sunit</td>
                               <td>Chand</td>
                               <td>sunit3k@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Nitin</td>
                               <td>Singh</td>
                               <td>nick.knp@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Rishi</td>
                               <td>Gautam</td>
                               <td>rishi.g1987@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Ramesh</td>
                               <td>Chowdhary</td>
                               <td>ramesh.chowdhary@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Sunit</td>
                               <td>Chand</td>
                               <td>sunit3k@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Nitin</td>
                               <td>Singh</td>
                               <td>nick.knp@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Rishi</td>
                               <td>Gautam</td>
                               <td>rishi.g1987@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Ramesh</td>
                               <td>Chowdhary</td>
                               <td>ramesh.chowdhary@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Sunit</td>
                               <td>Chand</td>
                               <td>sunit3k@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Nitin</td>
                               <td>Singh</td>
                               <td>nick.knp@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Rishi</td>
                               <td>Gautam</td>
                               <td>rishi.g1987@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Ramesh</td>
                               <td>Chowdhary</td>
                               <td>ramesh.chowdhary@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Sunit</td>
                               <td>Chand</td>
                               <td>sunit3k@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Nitin</td>
                               <td>Singh</td>
                               <td>nick.knp@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                           <tr>
                               <td>Rishi</td>
                               <td>Gautam</td>
                               <td>rishi.g1987@gmail.com</td>
                               <td>
                                   <select type="text" placeholder="Select Rep" name="rep" class="sarinput">
                                        <option value="">Select Membership</option>
                                        <option value="1">VIP 1</option>
                                        <option value="1">VIP 2</option>
                                        <option value="1">VIP 3</option>
                                    </select>
                               </td>
                               <td>
                                   <a href="javascript:;" class="orange button small">save</a>
                               </td>
                           </tr>
                       </tbody>
                       </table>
                   </div>
               </div>
            </div>
        </div>
    </section>
    <!-- bottom content end here -->
    <!-- footer start here -->
    <footer>
        <div class="row">
            <div class="nine column">
                <h6>Corporate Contacts</h6>
                <ul class="footer-address no-bullet">
                    <li class="address">1111 E. Katella Ave Ste.120 Orange, CA, 92867</li>
                    <li class="phone">(714) 516 6700</li>
                    <li class="email"><a href="mailto:info@pct.com">info@pct.com</a></li>
                </ul>
                <ul class="footer-link no-bullet">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Legal Notice</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">&copy; All Rights Reserved</a></li>
                </ul>
            </div>
            <div class="three column">
                <img src="files/images/logo.png" alt="" class="footer-logo retina" />
                <p style="margin-bottom:0px;">We specialize Residential & Commercial Title Insurance and we work hard behind the scenes to make sure your experience with us is a satisfying one.</p>
            </div>
        </div>
    </footer>
    <!-- footer end here
<script>$('#noscript').remove();</script> -->
</body>

</html>
